// Hero Image
.header {
  height: 698px;
  width: 100%;
  background-attachment: fixed;
  background-size: auto, auto, cover !important;
  background-position: center 0;
  text-transform: uppercase;
  color: $white;
  text-shadow: 1px 2px 1px black;

  @media only screen and (max-width: 778px) {
    background-position: 25% 0;
  }

  @media only screen and (max-width: 600px) {
    background-size: auto, 1500px, cover !important;
    height: 320px;
    background-attachment: local;
    background-position: 25% 40%;
  }

  p {
    font-size: 24px;
    color: #f5f5f5;
    text-align: center;
    line-height: 60px;

    @media only screen and (max-width: 600px) {
      font-size: 15px;
    }
  }

  h1 {
    color: $white;
    font-size: 23px;
    text-align: center;
    padding-top: 10rem;
    line-height: 0;

    @include for-md-up {
      font-size: 45px;
      line-height: 50px;
      padding-top: 20rem;
    }
  }
}

// About
.about {
  margin-bottom: 1rem;

  .about-text {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.about-picture {
  background-image: url('../seaways/img/about-pic.jpg');
  height: 320px;
  background-size: cover !important;
  background-position: center center !important;

  @media only screen and (min-width: 600px) {
    height: 600px;
  }
}

// Amenities & Around Town Section
.amenities {
  padding-bottom: 2rem;
}

// Contact Section
.contact-photo {
  background-image: url('../seaways/img/contact-pic.jpg');
  height: 780px;
  width: 100%;
  background-size: cover !important;
  background-position: center center !important;

  @media only screen and (max-width: 600px) {
    background-image: url('../seaways/img/contact-mobile.jpg');
  }
}

#contact {
  h2 {
    padding-top: 0;
  }
}
