.page-template-page-room {
  .book-btn {
    padding-top: 1rem;
  }

  .form-section {
    padding-top: 1rem;
  }

  .room-title {
    padding: 1rem;
    h3 {
      margin: 0;
    }
  }

  .back-icon {
    padding-top: 3px;
  }
}
