footer {
  background: $primary;
  color: $white;

  a {
    color: $white;
    text-decoration: none;
    font-size: 17px;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

.fa-up {
  padding-top: 2.5rem;
}

.social-footer {
  i {
    padding-top: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2.5rem;
  }
}

.credit {
  p {
    font-size: 12px;
  }

  a {
    font-size: 12px;
  }
}
