// Homepage Cards
.home {
  .card {
    border: none;
    background-color: $offwhite;
    float: none;

    @include for-sm-up {
      width: 18rem;
    }
  }
}

.home .testimony {
  .card {
    width: fit-content;
    height: 15rem;
  }
}

// Rooms Cards
.page-template-page-rooms {
  .card {
    border: none;
    background-color: $offwhite;
    width: 860px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .card-text {
    span {
      font-size: 2rem;
    }
  }

  .amenities-icon {
    display: flex;
    i {
      font-size: 1.5rem;
      padding-right: 1rem;

      span {
        font-size: 1rem;
      }
    }
  }
}

// Room Cards
.page-template-page-room {
  .card {
    border: none;
    background-color: $offwhite;
    padding: 0.75rem;
    float: none;

    .card-body {
      padding: 0;
    }
  }
}
