.wpcf7-mail-sent-ok {
  border: 2px solid $primary;
}

.wpcf7-form {
  line-height: 0.5rem;

  .form-group {
    label {
      margin-bottom: 0;
    }
  }

  .form-buttons {
    display: flex;
    padding-bottom: 1rem;
  }
}
