html,
body {
  overflow-x: hidden;
  background-color: $offwhite;
  width: 100vw;
  position: relative;

  h2 {
    padding-top: 5rem;
  }

  .cookies-not-set {
    nav {
      margin-top: 60px;
    }
  }
}

.header,
.content-area {
  margin-top: 75px;
}

@media (max-width: 767px) {
  .text-xs-center {
    text-align: center;
  }
}
